<div class="server-list">
  <button class="btn btn-success" [routerLink]="'/adicionar-banco-dados'">Adicionar</button>
</div>
<h1>Lista de bancos de dados</h1>
<table class="server-table">
  <thead>
  <tr>
    <th>Descricao</th>
    <th>Nome</th>
    <th>Host</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let banco of bancos">
    <td>{{ banco.descricao }}</td>
    <td>{{ banco.nome }}</td>
    <td>{{ banco.host }}</td>
    <td>
      <button class="delete-button" (click)="apagar(banco)">Apagar</button>
    </td>
  </tr>
  </tbody>
</table>
