<h2 class="mb-3">Add Server</h2>

<form (submit)="save()">
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="server.name" required>
  </div>
  <div class="mb-3">
    <label for="host" class="form-label">Host:</label>
    <input type="text" class="form-control" id="host" name="host" [(ngModel)]="server.host" required>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input type="text" class="form-control" id="username" name="nome" [(ngModel)]="server.username" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
  </div>
  <div class="mb-3">
    <label for="privateKey" class="form-label">Private Key:</label>
    <textarea class="form-control" id="privateKey" rows="4" [(ngModel)]="server.privateKey" name="privateKey"></textarea>
  </div>
  <div class="mt-3">
    <button routerLink="/servidores-list" class="btn btn-primary me-3">Back</button>
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
