<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Manager Server</a>


    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/server-list"><i class="fas fa-server icon"></i> Servidores</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/repositorios"><i class="fas fa-code-branch"></i> Repositorios</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/banco-dados-list"><i class="fas fa-database icon"></i> Banco de Dados</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/deploy-list"><i class="fas fa-play icon"></i> Deploy</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/processos"><i class="fas fa-gear icon"></i> Configurações</a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</nav>

<div class="container-fluid" style="margin-top: 68px">
  <router-outlet></router-outlet>
</div>
